#root{
    font-family: Share Tech Mono, monospace;
}
#gayofa,#gamravleba,#gamokleba,#mimateba{
    background-color: rgb(102, 102, 102);
}
#shvidi,#rva,#cxra,#otxi,#xuti,#eqvsi,#erti,#ori,#sami,#noli,#wertili{
    background-color: #4d4d4d;
}
#toloba{
    background-color: rgb(0, 68, 102);
}
#AC{
    background-color: rgb(172, 57, 57);
}
#upper{
    color: rgb(255, 255, 0);
}
@media only screen and (max-height:500px){
    #cg{
        height: 400px;
        width: 300px;
    }
    #upper{
        font-size: 15px;
        margin: 0;
    }
    #lower{
        font-size: 20px;
    }
    #ctn{
        margin-bottom: 5px;
    }
}